.box-background {
    background-image: url("resource/loginwall.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.form-box .input-box {
    border-bottom: 2px solid#fff;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #d6a2d6;
    padding-right: 28px;
    padding-top: 1px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;
}

.input-box .icon {
    position: absolute;
    right: 0;
    font-size: 19px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

/* 
@media (max-width: 768px) {
    .navbar {
      text-align: left;
    }
    .navbar-nav {
      display: block;
      margin: 0;
    }
    .navbar-nav li {
      display: block;
      margin: 0;
    }
  } */

  /* .box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px; */
/* background: linear-gradient(0deg,transparent,#460341,#7d1cd8); */
/* transform-origin: bottom right; */
/* animation: animate 6s linear infinite; */
/* } */

/* .box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px; */
/* background: linear-gradient(0deg,transparent,#490462,#5826cb);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s; */
/* } */

/* @keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

/* .form h2{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
} */


.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #ffffffa0;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
    color: #ffffff;
}

input[type="submit"] {
    border: none;
    outline: none;
    background: #ffffff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.8;
}
